body{
    margin: 0;
    box-sizing: border-box;
    background-color: #333;
}
.navbar{
    background-color: #000;
    height: fit-content;
    display: flex;
    align-items: center;
    
}
.navbar .nav-img-1{
    height: 8vh;
    margin-left: 10rem;
    width: 20vw;
}

h1{
    color:white;
    margin-left: 10rem;
    margin-top: 5rem;
}
.grid{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 5rem;
}
.row{
    /* height: 80px; */
    height:min-content;
    width: 70vw;
    background-color: black;
    border: 1px solid #333;
    display: flex;
    flex-wrap: wrap;
}
.row-desc{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-1{
    background-color: #ff7f7f;
}
.row-2{
    background-color: #ffbf7f;
}
.row-3{
    background-color: #ffdf7f;
}
.row-4{
    background-color: #ffff7f;
}
.row-5{
    background-color: #bfff7f;
}
.row-6{
    background-color: #7fff7f;
}
.images-row{
    margin-left: 10rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{
    height: 80px;
    width: 10vw;   
}
.draggable{
    cursor: pointer;
}
.draggable .dragging{
    opacity: 0.5;
}
#btn{
    margin-left: 40rem;
    margin-top: 2rem;
    width: 15vw;
    padding: 0.4rem;
    background-color: #333;
    border: 1px solid whitesmoke;
    color: white;
    border-radius: 8px;
    /* font-size: 15px; */
}
#btn:hover{
    cursor: pointer;
    background-color: #242222;
}
.container{
    /* height: 80px; */
    /* height: auto; */
    width: 50vw;
    background-color: black;
     display: flex;
    flex-wrap: wrap;
}
#myFile{
    margin-left: 10rem;
    /* display: block; */
    margin-top: 4vh;
    border: 1px solid whitesmoke;
    padding: 5px;
}
#addImgBtn{
    color: #bfbfbf;
}